[Oo]bj
[Bb]in
Build
packages
*.user
*.suo
*.[Cc]ache
*.ncb
*.log
*.log.*
*.orig
*.swp
*.rej
*.DS_Store
*.ncrunchproject
*.ncrunchsolution
[Tt]humbs.db 
_ReSharper.*
*.resharper
[Cc]lient[Bb]in

*.Publish.xml

Publish
CommonAssemblyInfo.cs
[Oo]utput.txt

desktop.ini

*.js.map
*.css.map

# Visual Studio test runner playlists
*.playlist
.vs/*

