<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LINQ_Demo.Properties.Settings.LINQ_DemoConnectionString"
            connectionString="Data Source=QE-IND-WKS088;Initial Catalog=LINQ_Demo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>