<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory name="">
    
    <!--Properties-->
    <property name="connection.connection_string">Server=localhost;Database=NHibernageDemo;Integrated Security=SSPI</property>
    <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
    <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
    <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
    <property name="show_sql">true</property>

    <!--Mapping files-->
    <!-- This assembly has a customer.hbm.xml file embedded in it. -->
    <mapping assembly="101.NHibernate"/>

  </session-factory>
</hibernate-configuration>         